#btn1 {
    -fx-background-color: #2c2f36;
    -fx-font-family: georgia;
    -fx-font-weight: bold;
     -fx-text-fill: white;
}

#btn1: hover{
    -fx-background-color: #151719;
}


#textAreaField {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
#textAreaField .scroll-pane {
    -fx-background-color: transparent;
}
#textAreaField .scroll-pane .content {
    -fx-background-color: transparent;
}

#textAreaField .scroll-pane .viewport{
    -fx-background-image: url("grey.jpg");
    -fx-background-size: 100% 100%;
}

#RadioBtnGrey {
    -fx-color: #403a3a;
}


#RadioBtnPink {
    -fx-color: #ff9baa;
}


#RadioBtnBlue {
    -fx-color: #00a1db;
}


#RadioBtnGreen {
    -fx-color: #a7fc00;

}


#RadioBtnYellow {
    -fx-color: #ffcc00;
}


